/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable import-notation */
@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=Lato:wght@300;400;700&family=Artifika&display=swap');
@import 'tailwindcss';

@theme {
  --font-lato: lato, sans-serif;
  --font-fondamento: fondamento, serif;
  --font-artifika: artifika, serif;
}

body {
  @apply min-h-screen bg-gradient-to-b from-[#C99F69] from-20% via-[#E9CB95] via-50% to-[#C99F69] to-80%;
}

#root {
  @apply h-full;
}
